<div id="census">
  <table>
    <thead>
      <caption style="text-align: left;">Population</caption>
      <tr>
        <th>Total</th>
        <th>Human</th>
        <th>Android</th>
        <th>Male</th>
        <th>Female</th>
        <th>No Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ total }}</td>
        <td>{{ human }}</td>
        <td>{{ android }}</td>
        <td>{{ male }}</td>
        <td>{{ female }}</td>
        <td>{{ noGender }}</td>
      </tr>
    </tbody>
  </table>
</div>