<div id="individuals">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Species</th>
        <th>Status</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for i in individuals  %}
      <tr>
        <td>{{ i.civic_identity.name }}</td>
        <td>{{ i.civic_identity.surname }}</td>
        <td>{{ i.epoch.age }}</td>
        <td>{{ i.gender }}</td>
        <td>{{ i.dimensions.height }} cm</td>
        <td>{{ i.mass }} kg</td>
        <td>{{ i.species }}</td>
        <td>{{ i.civic_identity.status }}</td>
        <td>{{ i.location }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>