<div id="individuals">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Species</th>
        <th>Status</th>
        <th>Location</th>
        <th><sl-tooltip content="Charisma" placement="top"><span>Chr</span></sl-tooltip></th>
        <th><sl-tooltip content="Determination" placement="top"><span>Det</span></sl-tooltip></th>
        <th><sl-tooltip content="Intelligence" placement="top"><span>Int</span></sl-tooltip></th>
        <th><sl-tooltip content="Speed" placement="top"><span>Spd</span></sl-tooltip></th>
        <th><sl-tooltip content="Strength" placement="top"><span>Str</span></sl-tooltip></th>
      </tr>
    </thead>
    <tbody>
      {% for i in individuals  %}
      <tr>
        <td>{{ i.civic_identity.name }}</td>
        <td>{{ i.civic_identity.surname }}</td>
        <td>{{ i.epoch.0|age(reference) }}</td>
        <td>{{ i.gender }}</td>
        <td>{{ i.dimensions.height }} m</td>
        <td>{{ i.mass }} kg</td>
        <td>{{ i.species }}</td>
        <td>{{ i.civic_identity.status }}</td>
        <td>{{ i.location }}</td>
        <td>{{ i.attributes.charisma }}</td>
        <td>{{ i.attributes.determination }}</td>
        <td>{{ i.attributes.intelligence }}</td>
        <td>{{ i.attributes.speed }}</td>
        <td>{{ i.attributes.strength }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>