body {
  font-family: var(--sl-font-sans);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  text-align: left;
}

table, th, td {
  border: none;
}

table td {
  padding: .3em;
}

table tr:nth-child(even) {
  background-color: #333;
}

.container {
  display: flex;
}

.container > div {
  margin: 0 1em 0 0;
}
